*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root{
  /* --theme : #41cd52; */
  --theme : #ff6900;
  --shadow : rgb(255, 105, 0, .5);
  --lightText : #b3b3b3;
  --darkText : #333333;
}

::selection {
  color: #1106CC;
  background: #FFFFFF;
}

html{
  scroll-behavior: smooth;
}

html *{
  text-rendering: optimizeLegibility !important;
}

body {
  margin: 0;
  padding: 0;
}

img{
  user-select: none;
}